---
layout: default
---
<div id="fullpage">
  {% for post in site.posts %}
    <div class="section">
      <div style="background: url('{{ post.large-image }}') no-repeat 50% 50%;position:absolute;top:0;left:0;bottom:0;right:0;">
        <div class="heading">
          <h2><strong>#{{ post.number }}</strong>{% if post.title %} - {{ post.title }}{% endif %}</h2>
          <h3>{{ post.date | date: "%-d %B %Y" }}</h3>
          {% if post.content %}{{ post.content }}{% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
