  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://alvarotrigo.com/fullPage/vendors/jquery.easings.min.js"></script>
  <script src="http://alvarotrigo.com/fullPage/jquery.fullPage.min.js"></script>
  <script type="application/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            //Navigation
            menu: true,
//            anchors:['firstSlide', 'secondSlide'],
            navigation: true,
            navigationPosition: 'right',
//            navigationTooltips: ['firstSlide', 'secondSlide'],
            slidesNavigation: true,
            slidesNavPosition: 'bottom',

            //Scrolling
//            css3: true,
//            scrollingSpeed: 700,
//            autoScrolling: true,
//            scrollBar: false,
//            easing: 'easeInQuart',
//            easingcss3: 'ease',
//            loopBottom: false,
//            loopTop: false,
//            loopHorizontal: true,
//            continuousVertical: false,
//            normalScrollElements: '#element1, .element2',
//            scrollOverflow: false,
//            touchSensitivity: 15,
//            normalScrollElementTouchThreshold: 5,

            //Accessibility
//            keyboardScrolling: true,
//            animateAnchor: true,

            //Design
//            controlArrows: true,
//            verticalCentered: true,
//            resize : true,
//            sectionsColor : ['#ccc', '#fff'],
//            paddingTop: '3em',
//            paddingBottom: '10px',
            fixedElements: '.site-header',
//            responsive: 0,

            //Custom selectors
//            sectionSelector: '.section',
//            slideSelector: '.slide',

            //events
//            onLeave: function(index, nextIndex, direction){},
//            afterLoad: function(anchorLink, index){},
//            afterRender: function(){},
//            afterResize: function(){},
//            afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
//            onSlideLeave: function(anchorLink, index, slideIndex, direction){}
        });
    });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58149852-1', 'auto');
    ga('send', 'pageview');
  </script>
